body {
  text-align: center;
  background-color: #282c34;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.About-me{
  font-size: 60px;
  font-family: 'Work Sans', sans-serif;
  margin-top: 20px;
}

.App {
  max-width: 1800px;
  padding: 20px;
  margin: 0 auto;
}

.Logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Beckman-logo {
  width: 200px;
  height: 200px;

}

.UCSC-logo {
  width: 200px;
  height: 200px;
}

.School {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 100px;
  margin-top: 100px;
  
}

.School p {
  text-align: center;
  max-width: 800px;
}

.Github-logo {
  position: absolute;
  margin-top: 10vh;
  width: 60px;
  height: 60px;
  transition: transform 0.5s ease;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .Github-logo:hover {
    animation: spin 1s infinite;
  }
}

.App-header {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

.Background {
  max-width: 1800px;
  margin-top: 100px;
}

.Cursor {
  animation: blink-cursor 0.8s infinite;
}

.Degree {
  font-size: 20px;
}

.Years-attended {
  font-size: 16px;
}


.Name{
  font-size: 30px;
  margin-top: 150px;
}

.tab-bar {
  display: flex;
  list-style: none;
  padding: 0;
  background-color: transparent;
}

.tab-bar li {
  color: rgb(255, 255, 255);
  flex: 1;
  border: none;
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
}

.Text-container {
  margin-top: 20vh;
  text-align: center;
}
