body {
  text-align: center;
  background-color: #282c34;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Courier New', Courier, monospace;
}

.About-me{
  font-size: 60px;
  margin-top: 20px;
  font-weight: bold;
}

.animate {
  animation-delay: 0.5s;
  animation-duration: 0.4s;
  animation-fill-mode: both;
}

.animate--fast {
  animation-delay: 0.1s;
  animation-duration: 0.4s;
  animation-fill-mode: both;
}

.animate--slow {
  animation-delay: 0.8s;
  animation-duration: 0.4s;
  animation-fill-mode: both;
}

.animate--slow1 {
  animation-delay: 1s;
  animation-duration: 0.4s;
  animation-fill-mode: both;
}

.animate--slow2 {
  animation-delay: 1.3s;
  animation-duration: 0.4s;
  animation-fill-mode: both;
}

.slideUptoBot {
  animation-name: slideUptoBot;
  animation-timing-function: ease-in;
}

@keyframes slideUptoBot {
  from {
    transform: translateY(-150px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideBottoUp {
  animation-name: slideBottoUp;
  animation-timing-function: ease-in;
}

@keyframes slideBottoUp {
  from {
    transform: translateY(150px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.App {
  max-width: 1800px;
  padding: 20px;
  margin: 0 auto;
}

.Logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.Beckman-logo {
  width: 200px;
  height: 200px;

}

.UCSC-logo {
  width: 200px;
  height: 200px;
}

.School {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 100px;
  margin-top: 100px;
  width: 33%;
  
}

.School p {
  text-align: center;
  max-width: 800px;
  height: 70px;
}

.Github-logo {

  bottom: 0px;
  width: 60px;
  height: 60px;
  transition: transform 0.5s ease;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}



.App-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

.Background {
  max-width: 1800px;
  margin-top: 100px;
}

.Cursor {
  animation: blink-cursor 0.8s infinite;
}

.Degree {
  font-size: 20px;
}

.download-button {
  padding: 10px 20px;
  background-color: #8849a1;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  transition: background-color 0.2s;
  margin-bottom: 20px;
}

.download-button:hover {
  background-color: #561a6e;
}

.download-button:active {
  background-color: #bd50f0;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.portfolio-title {
  margin-top: 75px;
  color:rgb(233, 169, 199)
}


.project-demo {
  font-weight: bold;
  color: rgb(214, 177, 55);
}

.project-link {
  font-size: 30px;
}


@media screen and (max-width: 768px) {
  .project-container {
    grid-template-columns: 1fr;
    grid-template-areas: 
      'demo'
      'link'; 
  }
}

.Name {
  margin-top: 250px;
  color:rgb(233, 169, 199)
}

.Portfolio-header {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.project-name {
  padding: 1rem;
  margin: 0 0.5rem;
}

.project-video {
  padding: 1rem;
  margin: 0 0.5rem;
}

.Resume-title {
  top: 0;
}

.School-name{
  font-size: 30px;
  font-weight: bold;
  max-height: 70px;
}

section {
  display: grid;
  place-items: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.tab-bar {
  display: flex;
  list-style: none;
  padding: 0;
  background-color: transparent;
}

.tab-bar li {
  color: rgb(255, 255, 255);
  flex: 1;
  border: none;
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
}

.Text-container {
  margin-top: 20vh;
  text-align: center;
}

.TypeWriter {
  font-weight: bold;
}

.Years-attended {
  font-size: 16px;
}


