body {
  text-align: center;
  background-color: #282c34;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow: hidden;
}

.About-me{
  font-size: 60px;
  font-family: 'Work Sans', sans-serif;
  margin-top: 20px;
}

.App {

}

.Logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 33%;
}

.Beckman-logo {
  height: 15vh;
  position: relative;
}

.App-logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 5vmin;
  height: 5vmin;
  transition: transform 0.5s ease;
}

@keyframes rotate-left {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate-right {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes toggle {
  0% {
    transform: rotate(0deg)
  }
  25% {
    transform: rotate(-60deg)
  }
  50% {
    transform: rotate(0deg)
  }
  75% {
    transform: rotate(60deg)
  }
  100% {
    transform: rotate(0deg)
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo:hover {
    animation: spin 1s infinite;
  }
}

.App-header {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

.Background {
  max-width: 1800px;
}

.Cursor {
  animation: blink-cursor 0.8s infinite;
}


.Name{
  font-size: 30px;
  margin-top: 300px;
}

.tab-bar {
  display: flex;
  list-style: none;
  padding: 0;
  background-color: transparent;
}

.tab-bar li {
  color: rgb(255, 255, 255);
  flex: 1;
  border: none;
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
